{% include '_includes/head.html' %}
<body>
  <header role="banner">{% include '_includes/header.html' %}</header>
  <nav role="navigation">{% include '_includes/navigation.html' %}</nav>
  <div id="main">
    <div id="content">
      {% block content %}{% endblock %}
      {% include '_includes/sidebar.html' %}
    </div>
  </div>
  <footer role="contentinfo">{% include '_includes/footer.html' %}</footer>
  {% include '_includes/after_footer.html' %}
 <script type="text/javascript"><!--DISQUS comment count-->
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'krisyu'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    
</body>
</html>
