// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// # In /sass/base/
// _theme.scss      # All colors are defined here

// # In /sass/custom/ - Change these files for easy customization
// _colors.scss     # Override colors in base/_theme.scss to change color
// schemes
// _fonts.scss     # Override fonts
// _styles.scss     # Easly Override any style (last in the cascade)

///* import typography */
//@import "typography.scss";

// Table CSS styling from http://samwize.com/2012/09/24/octopress-table-stylesheet/

* + table {
  border-style:solid;
  border-width:1px;
  border-color:#cfcccf;
  padding:3px 4px 20px 10px;
}
 
* + table th, * + table td {
  border-style:dashed;
  border-width:1px;
  border-color:#cfcccf;
  padding-left: 5px;
  padding-right: 5px;
}
 
* + table th {
  border-style:solid;
  font-weight:bold;
  background-color:#dddbdd;
 // background: url("/images/noise.png?1330434582") repeat scroll left top #F7F3F7;
}
 
* + table th[align="left"], * + table td[align="left"] {
  text-align:left;
}
 
* + table th[align="right"], * + table td[align="right"] {
  text-align:right;
}
 
* + table th[align="center"], * + table td[align="center"] {
  text-align:center;
}
